.hidden {
    display: none;
}


#slider-wrapper {
    width:100%;
    height:100%;
    background-color: black;
    overflow:hidden;
    position:relative;
}

html {
    height:100%;
}

body {
    width:100%;
    height:100%;
    overflow:hidden;
    margin:0;
}

.frame-container {
    background-color: black;
    position:absolute;
    top:0;
}

#ip {
    position: absolute;
    bottom: 0;
    left:0;
    color: white;
    font-family: "monotype", "courier new", sans-serif;
}